.App {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.App__header {
  background-color: yellow;
  margin-bottom: 2px;
  border: 1px solid green;
}

.App__buttons {
  width: 30%;
  background-color: lightyellow;
  margin: auto;
  margin-bottom: 2px;
  border: 1px solid green;
}

.App__table {
  margin: auto;
  width: 50%;
  background-color: lightgreen;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}
thead {
  background-color: rgb(16, 168, 16);
}

tfoot {
  background-color: lightseagreen;
  font-weight: bold;
}

button {
  font-size: 1rem;
  font-weight: bold;
}